body{
    margin: 0;
    font-family: 'Manrope', sans-serif;
}


#menu ul{
    padding:0px;
    margin:0px;
    opacity: 0.9;
    background-color: black;
    list-style:none;
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
a{
    color: white;
    text-decoration: none;
}
#menu ul li { 
    display: inline; 
}

#borda_item{
    border: dotted white 3px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.container{
    padding-left: 10px;
   height: 100vh;
   background-image: linear-gradient(#E8EBEB,#5A5E60);
   display: flex;
}

.titulo{
    color: white;
}

#titulomaior{  
    font-size: 63px;
    
}

#sub{
    font-size: 32px;
}
.texto{
    color: white;
}
#titulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
}

#titulo button{
    margin-top: 10px;
}
.imagem img{
    height: 100%;
}

.segundo{
    padding-left: 10px;
    height: 50vh;
    background-image: linear-gradient(#5A5E60,#ABAFAF);
    display: flex;

}

.terceiro{
    padding-left: 10px;
    height: 50vh;
    background-image: linear-gradient(#ABAFAF,#5A5E60);
    display: flex;

}

.sobremim{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 0;
}

#imgsobremim{
    height: 100%;
 
}

#blocosobremim{

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: relative;
}

.escuro{
    color: whitesmoke;
}

.segunda{
    padding: 20px;
}

.social{
    height: 100px;
    width: 100px;
    border: dotted white 3px;
    padding:  10px;
}

.terceiro{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.contato{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.social{
    display: flex;
    flex-direction: column;
    align-items: center;
}
 .letramenor{
     font-size: 14px;
 }

















.hvr-bounce-out {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
  }
  .hvr-bounce-out:hover, .hvr-bounce-out:focus, .hvr-bounce-out:active {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  }